body {
    background-color:  #94ab97;
}



.btn {
    font-size: 20px;
    font-family: monospace;
    padding: 3px 3%;
    width: 10%;
    color:aliceblue;
    background-color:#598b60;
    border: 1px solid #c3e0c7;
    border-radius: 1%;
    text-align: center;
    user-select: none;
    cursor: pointer;
    
}
.btn2 {
    font-size: 20px;
    font-family: monospace;
    padding: 3px 3%;
    width: 10%;
    color:aliceblue;
    background-color:#598b60;
    border: 1px solid #c3e0c7;
    border-radius: 1%;
    text-align: center;
    user-select: none; 
    cursor: pointer;
}
.btn3 {
    font-size: 20px;
    font-family: monospace;
    padding: 3px 3%;
    width: 10%;
    color:aliceblue;
    background-color:#598b60;
    border: 1px solid #c3e0c7;
    border-radius: 1%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

h1 {
    padding: 0%;
    font-size: 50px;
    font-family: 'Nothing You Could Do', cursive;
    color: aliceblue;
    text-align: center;
    margin: 0%;
    }
 
h2 {
    padding: 1%;
    font-size: 20px;
    font-family: monospace;
    color: aliceblue;
    text-align: center;
    margin: 0%;
}
.btn:hover{
    background: #3e6443;
    transition: background 1s;
}

.btn2:hover{
    background: #3e6443;
    transition: background 1s;
}

.btn3:hover:hover{
    background: #3e6443;
    transition: background 1s;
}

.container {
    justify-content: center; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   /*  align-items: center; */

}

.btn, .btn2, .btn3 {
    width: 300px;
    margin: 1% auto;
    
}

img {
    width: 20%;
    margin: auto;
    display: block;  
}

img:nth-of-type(2) {
    width: 24px;
    height: 24px;
    
}